header{
    background-color: rgb(201, 201, 201);
    color: rgb(17, 17, 17);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 4;
}

@media (width < 320px){
    .cabecera h1{
        font-size: 25px;
    }
}

.iniciador{
    padding: 20px 0px;
    margin: 0px 20px;
    font-size: 12px;
}

.logo{
    width: 100%;
    height: 100px;
    margin-top: 10px;
    margin-left: 20px;
}

.iniciar{
    text-decoration: none;
    color: black;
}
.registrar{
    text-decoration: none;
    color: black;
}

@media (width < 800px) {
    header{
        flex-direction: column;
        align-items: center;
    }

    .ventas{
        margin-left: -50px;
    }
}

.ventas{
    text-decoration: none;
    color: white;
}

body{
    min-height: 100vh;
    justify-content: space-between;
    background-color: rgb(109, 108, 108);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(240, 240, 240);
    background-image: url("");
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(15px);
}

main{
    display: flex;
    width: 99%;
    justify-content: space-around;
}

.titulo{
    margin-top: -100px;
}

.contenedor{
    margin-top: -100px;
}

.caja1{
    background-color: white;
    margin: 20px 0px;
    width: 20%;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 5%;
    align-items: center;
}

.boton{
    background-color: rgb(146, 146, 146);
    margin: 20px;
    padding: 5px 20px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color solid 2s;
}

.boton:hover{
    background-color: rgb(87, 87, 87);
}

.caja1 p{
    width: 70%;
}

.caja1 img{
    width: 80%;
    border-radius: 20%;
}

.recomendado{
    position: relative;
    background-color: yellow;
    border-radius: 20px;
    width: 100%;
    text-align: center;
    top: -110px;
    width: 100%;
    left: auto;
}

.caja2{
    background-color: white;
    margin: 20px 0px;
    width: 20%;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 5%;
    align-items: center;
}

.caja2 img{
    width: 80%;
    border-radius: 20%;
}

.caja2 p{
    width: 70%;
}

.caja3{
    background-color: white;
    margin: 20px 0px;
    width: 20%;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 5%;
    align-items: center;
}

.caja3 img{
    width: 80%;
    height: 80%;
    border-radius: 20%;
}

.caja3 p{
    width: 70%;
}

.lista{
    text-align: left;
}

.lista1{
    height: 100px;
    margin-left: -50px;
}

.lista2{
    margin-top: -60px;
    height: 120px;
}

.lista3{
    margin-top: -5px;
    height: 120px;
}

.Precio{
    margin: 0;
}

.item{
    list-style-type: "\2611";
}


@media(width < 800px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .titulo{
        margin-top: 50px;
    }
    .contenedor{
        margin-top: 0;
    }
    .caja1{
        width: 90%;
    }
    .caja2{
        width: 90%;
    }
    .recomendado{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        top: -110px;
        width: 100%;
        left: auto;
    }
    .caja3{
        width: 90%;
    }
}

.final{
    display: flex;
    width: 99%;
    justify-content: center;
}

.pie{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

@media(width < 800px) {
    .pie {
        flex-direction: column;
    }
}